:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --dark-beckground-color: #2f303a;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --primary-dark-color: #000000;
  --border-header-color: #ececec;
  --hero-button-active-color: #188ce8;
  --border-portfolio-cards: #eeeeee;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --clients-color: #afb1b8;
  --soc-link-background-dark-color: rgba(255, 255, 255, 0.1);
  /*Найбільш повторювана тінь на кнопках*/
  --button-primary-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --works-overlay-background-color: rgba(47, 48, 58, 0.8);
  --portfolio-overlay-background-color: rgba(33, 150, 243, 0.9);
  --backdrop-overlay-background-color: rgba(0, 0, 0, 0.2);
  --input-border-color: rgba(33, 33, 33, 0.2);
  --textarea-placeholder-color: rgba(117, 117, 117, 0.5);
  --base-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color var(--base-transition);
}

.link:hover {
  color: var(--accent-color);
}

.link:focus {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-header-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin: 0 50px 0 0;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-top {
  margin: 0 93px 0 0;
}

.logo-bottom {
  margin: 0 0 20px;
}

.logo-dark {
  color: var(--primary-dark-color);
}

.nav,
.contacts {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.nav-link {
  position: relative;
  display: block;
  padding: 32px 0;
  color: var(--title-text-color);
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts-link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  gap: 10px;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  transition: fill var(--base-transition), color var(--base-transition);
}

.contacts-link:hover,
.contacts-link:focus {
  fill: var(--accent-color);
}

.hero-section {
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  background-color: var(--dark-beckground-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin: 0 auto 30px auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.button {
  border-radius: 4px;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.hero-button,
.subscribe-button,
.send-button {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: var(--button-primary-box-shadow);
  transition: background-color var(--base-transition);
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active,
.subscribe-button:hover,
.subscribe-button:focus,
.subscribe-button:active,
.send-button:hover,
.send-button:focus,
.send-button:active {
  background-color: var(--hero-button-active-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-overlay-background-color);
  opacity: 1;
  transition: opacity var(--base-transition);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--base-transition);
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: var(--primary-background-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: fill var(--base-transition);
}

.close:hover,
.close:focus {
  cursor: pointer;
  fill: var(--accent-color);
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  display: flex;
  gap: 30px;
}

.features-item {
  flex-basis: calc((100%-90) / 4);
}

.features-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin: 0 0 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.features-title {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.section-title {
  margin: 0 0 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.works {
  display: flex;
  gap: 30px;
}

.works-item {
  position: relative;
}

.works-section {
  padding-top: 0;
}

.work-title {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: var(--works-overlay-background-color);
}

.team-section {
  background-color: var(--secondary-background-color);
}

.team {
  display: flex;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin: 0 30px 0 0;
}

.team-info {
  padding: 30px 0 30px;
}

.team-title {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  margin: 0 0 16px;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
}

.team-item {
  background-color: var(--primary-background-color);
}

.soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.soc-item {
  width: 44px;
  height: 44px;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--clients-color);
  transition: background-color var(--base-transition), fill var(--base-transition);
}

.soc-link-team:hover,
.soc-link-team:focus {
  background-color: var(--accent-color);
  fill: var(--white-text-color);
}

.clients {
  display: flex;
  gap: 30px;
}

.clients-item {
  flex-basis: calc((100% - 150px) / 6);
  height: 92px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--clients-color);
  border-radius: 4px;
  fill: var(--clients-color);
  transition: border-color var(--base-transition), fill var(--base-transition);
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.footer {
  padding: 60px 0;
  background-color: var(--dark-beckground-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-light {
  color: var(--white-text-color);
}

.address-box {
  margin: 0 70px 0 0;
  width: 231px;
}

.address {
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.address-item:not(:last-child) {
  margin: 0 0 9px;
}

.city-link {
  color: var(--white-text-color);
}

.address-link {
  color: var(--address-link-color);
}

.soc-link-text,
.form-subscribe-text {
  margin: 0 0 20px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.soc-link-footer {
  background-color: var(--soc-link-background-dark-color);
}

.soc-icon-footer {
  fill: var(--white-text-color);
}

.soc-link-footer:hover,
.soc-link-footer:focus {
  background-color: var(--accent-color);
}

.form-subscribe-box {
  margin: 0 0 0 auto;
}

.form-subscribe {
  display: flex;
  gap: 12px;
}

.form-input-subscribe {
  display: block;
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  background-color: var(--dark-beckground-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: var(--button-primary-box-shadow);
}

.form-input-subscribe,
.form-input-subscribe::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: var(--address-link-color);
  outline: none;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 28px;
}

.contact-form-title {
  margin: 0 0 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.form-label {
  display: block;
  margin: 0 0 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.form-field {
  position: relative;
  margin: 0 0 10px 0;
}

.form-input,
.form-textarea {
  width: 100%;
  padding: 11px 12px 11px 42px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--base-transition);
}

.form-textarea {
  height: 120px;
  padding: 12px 16px;
  margin: 0 0 20px 0;
  color: var(--primary-text-color);
}

.form-textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--textarea-placeholder-color);
}

.form-input:focus,
.form-textarea:focus {
  border-color: var(--accent-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--title-text-color);
  transform: translateY(-50%);
  transition: fill var(--base-transition);
}

.form-field:focus-within .form-icon {
  fill: var(--accent-color);
}

.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
}

.policy-link {
  text-decoration: underline;
  color: var(--accent-color);
}

.check-box {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  margin: 0 8.38px 0 0;
  border: 2px solid var(--title-text-color);
  border-radius: 3px;
  transition: background-color var(--base-transition), border-color var(--base-transition);
}

.check-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity var(--base-transition);
}

.checkbox-input:checked + .check-box {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox-input:checked + .check-box .check-icon {
  opacity: 1;
}

.send-button {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 50px;
}

.filter-item:not(:last-child) {
  margin: 0 8px 0 0;
}

.filter-button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  transition: color var(--base-transition), background-color var(--base-transition),
    box-shadow var(--base-transition);
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin: 0 30px 30px 0;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-image-box {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  padding: 0 24px;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  background-color: var(--portfolio-overlay-background-color);
  transform: translateY(100%);
  transition: transform var(--base-transition);
}

.portfolio-info {
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio-cards);
  border-top: none;
}

.portfolio-title {
  margin: 0 0 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

.portfolio-link {
  display: block;
  color: var(--primary-text-color);
  transition: box-shadow var(--base-transition);
}

.portfolio-link:hover,
.portfolio-link:focus {
  color: var(--primary-text-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}
