:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --dark-beckground-color: #2f303a;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --primary-dark-color: #000000;
  --border-header-color: #ececec;
  --hero-button-active-color: #188ce8;
  --border-portfolio-cards: #eeeeee;
  --address-link-color: rgba(255, 255, 255, 0.6);
  --clients-color: #afb1b8;
  --soc-link-background-dark-color: rgba(255, 255, 255, 0.1);
  /*Найбільш повторювана тінь на кнопках*/
  --button-primary-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover {
  color: var(--accent-color);
}

.link:focus {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid var(--border-header-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list-item:not(:last-child),
.contacts-item:not(:last-child) {
  margin: 0 50px 0 0;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-top {
  margin: 0 93px 0 0;
}

.logo-bottom {
  margin: 0 0 20px;
}

.logo-dark {
  color: var(--primary-dark-color);
}

.nav,
.contacts {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.nav-link {
  display: block;
  padding: 32px 0;
  color: var(--title-text-color);
}

.current {
  color: var(--accent-color);
}

.contacts-link {
  display: flex;
  align-items: center;
  padding: 32px 0;
  color: var(--primary-text-color);
}

.contacts-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.contacts-link:hover .contacts-icon {
  fill: var(--accent-color);
}

.hero-section {
  max-width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  background-color: var(--dark-beckground-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  margin: 0 auto 30px auto;
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.button {
  border-radius: 4px;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.hero-button {
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: var(--button-primary-box-shadow);
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
  background-color: var(--hero-button-active-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  display: flex;
  gap: 30px;
}

.features-item {
  flex-basis: calc((100%-90) / 4);
}

.features-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin: 0 0 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.features-title {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.section-title {
  margin: 0 0 50px;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.works {
  display: flex;
}

.works-item:not(:last-child) {
  margin: 0 30px 0 0;
}

.works-section {
  padding-top: 0;
}

.team-section {
  background-color: var(--secondary-background-color);
}

.team {
  display: flex;
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:not(:last-child) {
  margin: 0 30px 0 0;
}

.team-info {
  padding: 30px 0 16px;
}

.team-title {
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-text {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  text-align: center;
}

.team-item {
  background-color: var(--primary-background-color);
}

.soc-list {
  display: flex;
  gap: 10px;
  margin: 0 32px 30px;
}

.soc-item {
  flex-basis: calc((100% - 30px) / 4);
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.soc-icon {
  fill: var(--clients-color);
}

.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: var(--white-text-color);
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent-color);
}

.clients {
  display: flex;
  gap: 30px;
}

.clients-item {
  flex-basis: calc((100% - 150px) / 6);
  height: 92px;
}

.clients-link {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--clients-color);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}

.clients-icon {
  fill: var(--clients-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
}

.footer {
  padding: 60px 0;
  background-color: var(--dark-beckground-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.logo-light {
  color: var(--white-text-color);
}

.address-box {
  width: 231px;
}

.address {
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}

.address-item:not(:last-child) {
  margin: 0 0 9px;
}

.city-link {
  color: var(--white-text-color);
}

.address-link {
  color: var(--address-link-color);
}

.soc-link-text {
  margin: 0 0 20px;
  font-weight: 700;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.soc-list-footer {
  display: flex;
  gap: 10px;
}

.soc-item-footer {
  flex-basis: calc((100% - 30px) / 4);
}

.soc-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--soc-link-background-dark-color);
}

.soc-icon-footer {
  fill: var(--white-text-color);
}

.soc-link-footer:hover,
.soc-link-footer:focus {
  background-color: var(--accent-color);
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 50px;
}

.filter-item:not(:last-child) {
  margin: 0 8px 0 0;
}

.filter-button {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
  width: calc((100% - 60px) / 3);
  margin: 0 30px 30px 0;
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-info {
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio-cards);
  border-top: none;
}

.portfolio-title {
  margin: 0 0 4px;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
}

.portfolio-link {
  display: block;
  color: var(--primary-text-color);
}

.portfolio-link:hover,
.portfolio-link:focus {
  color: var(--primary-text-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
