.footer {
  padding: 60px 0;
  background-color: $colorBackgroundDark;

  &__container {
    display: flex;
    align-items: baseline;
  }

  &__logo {
    margin: 0 0 20px;
  }

  &__address-box {
    margin: 0 70px 0 0;
    width: 231px;
  }

  &__text {
    margin: 0 0 20px;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $colorTextWhite;
  }
}

.address {
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  &__item:not(:last-child) {
    margin: 0 0 9px;
  }

  &__link {
    color: $colorAddressLink;
  }

  &__link--light {
    color: $colorTextWhite;
  }
}
