.footer {
  padding: 60px 0;
  background-color: $colorBackgroundDark;

  &__container {
    text-align: center;
    @include for-size(desktop) {
      display: flex;
      align-items: baseline;
      text-align: inherit;
    }
  }

  &__holder {
    margin: 0 0 60px 0;

    @include for-size(tablet) {
      display: flex;
      align-items: baseline;
      justify-content: center;
      gap: 165px;
    }

    @include for-size(desktop) {
      gap: 70px;
      margin: 0;
    }
  }

  &__logo {
    margin: 0 0 20px;
  }

  &__address-box {
    @include for-size(mobile-only) {
      margin: 0 0 60px 0;
    }

    @include for-size(desktop) {
      width: 231px;
    }
  }

  &__text {
    margin: 0 0 20px;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $colorTextWhite;
  }
}

.address {
  font-style: normal;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  &__item:not(:last-child) {
    margin: 0 0 9px;
  }

  &__link {
    color: $colorAddressLink;
  }

  &__link--light {
    color: $colorTextWhite;
  }
}

// .connect {
//   margin: 60px 0;
// }
