.header {
  border-bottom: 1px solid $colorBorderHeader;

  &__container {
    display: flex;
    align-items: center;
    height: 60px;

    @include for-size(tablet) {
      height: 80px;
    }
  }

  &__logo {
    margin: 0 93px 0 0;
  }

  &__mobile-menu {
    margin: 0 0 0 auto;
    padding: 0;
    background-color: transparent;
    border: none;

    @include for-size(tablet) {
      display: none;
    }
    &:hover,
    &:focus {
      fill: $colorAccent;
    }
  }
}

.nav__list {
  display: none;
  @include for-size(tablet) {
    display: flex;
    align-items: center;
    gap: 50px;
  }
}

.contacts {
  display: none;

  @include for-size(tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    gap: 10px;
  }

  @include for-size(desktop) {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
}

.nav,
.contacts {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.nav__link {
  position: relative;
  display: block;
  padding: 32px 0;
  color: $colorDark;
}

.nav__link--current {
  color: $colorAccent;
}

.nav__link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: $colorAccent;
}

.contacts__link {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $colorTextPrimary;
  fill: $colorTextPrimary;
  transition: fill $baseTransition, color $baseTransition;

  &:hover,
  &:focus {
    fill: $colorAccent;
  }
  @include for-size(desktop) {
    padding: 32px 0;
  }
}
