p,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: color var(--base-transition);
}

a:hover {
  color: var(--accent-color);
}

a:focus {
  color: var(--accent-color);
}

textarea {
  resize: none;
}
