%button {
  font-family: inherit;
  text-align: center;
  border-radius: $borderRadiusPrimary;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

%flexCentered {
  display: flex;
  align-items: center;
  justify-content: center;
}
