$colorBackgroundPrimary: #ffffff;
$colorBackgroundSecondary: #f5f4fa;
$colorBackgroundDark: #2f303a;
$colorTextPrimary: #757575;
$colorDark: #212121;
$colorAccent: #2196f3;
$colorTextWhite: #ffffff;
$colorBlack: #000000;
$colorBorderHeader: #ececec;
$colorHeroButtonActive: #188ce8;
$colorBorderPortfolioCards: #eeeeee;
$colorAddressLink: rgba(255, 255, 255, 0.6);
$colorClients: #afb1b8;
$colorBackgroundSocialLinkDark: rgba(255, 255, 255, 0.1);
$shadowButtonPrimaryBox: 0px 4px 4px rgba(0, 0, 0, 0.15);
$colorBackgroundWorksOverlay: rgba(47, 48, 58, 0.8);
$colorBackgroundPortfolioOverlay: rgba(33, 150, 243, 0.9);
$colorBackgroundBackdropOverlay: rgba(0, 0, 0, 0.2);
$colorInputBorder: rgba(33, 33, 33, 0.2);
$colorTextareaPlaceholder: rgba(117, 117, 117, 0.5);
$baseTransition: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
