.clients__list {
  display: flex;
  gap: 30px;
}

.clients__item {
  flex-basis: calc((100% - 150px) / 6);
  height: 92px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid $colorClients;
  border-radius: $borderRadiusPrimary;
  fill: $colorClients;
  transition: border-color $baseTransition, fill $baseTransition;

  &:hover,
  &:focus {
    fill: $colorAccent;
    border-color: $colorAccent;
  }
}
