.features__list {
  display: flex;
  gap: 30px;
}

.features__item {
  flex-basis: calc((100% - 90px) / 4);
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin: 0 0 30px;
  background-color: $colorBackgroundSecondary;
  border-radius: $borderRadiusPrimary;
}

.features__caption {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $colorDark;
}

.features__text {
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
}
