.features {
  @include for-size(tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__item {
    &:not(:last-child) {
      margin: 0 0 30px 0;
    }

    @include for-size(tablet) {
      &:not(:last-child) {
        margin: 0;
      }
      flex-basis: calc((100% - 30px) / 2);
    }

    @include for-size(desktop) {
      flex-basis: calc((100% - 90px) / 4);
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin: 0 0 30px;
    background-color: $colorBackgroundSecondary;
    border-radius: $borderRadiusPrimary;
  }

  &__caption {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $colorDark;

    @include for-size(mobile-only) {
      text-align: center;
    }
  }

  &__text {
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
  }
}
