.works-section {
  display: none;
  @include for-size(desktop) {
    display: block;
  }
}

.works {
  display: flex;
  gap: 30px;

  &__item {
    position: relative;
  }

  &__caption {
    position: absolute;
    @extend %flexCentered;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    font-weight: 700;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $colorTextWhite;
    background-color: $colorBackgroundWorksOverlay;
  }
}
